/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    background-color:#b2bec3;
    text-align: justify;
    line-height: 1.6;
}

.box {
    border: 2px solid white;
    background-color: white;
    padding: 30px;
    margin-top: 150px;
    width: 550px;
    margin: 150px auto 150px auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 2px 3px 9px 0px #616161;
}


h1 {
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
    margin: 0;
    
}


.foto {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    right: -75px; 
    box-shadow: 2px 3px 7px 0px #616161;

    /* .foto ma 150x150 velikost, potrebujeme stred na roh, takze polovina z toho je 75x75 a to pak posuneme do minusu na top a right*/
}   

.button {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.twitter {
    background-color: #1da1f2;
    margin-top: 30px;
}

.facebook {
    background-color: #3b5998;
    margin-top: 5px;
}

.twitter:hover {
    background-color: #0b7bc1;
}

.facebook:hover {
    background-color: #2b406e;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

